.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.lucid
.pytest_cache/
.coverage
.dist
.build
build/
dist/
*.db
monitoring.db
tests/
.ipynb_checkpoints/
*.md
docs/
brain/
LICENSE
